/* CSS Document */
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
.archive {
	font-family: Arial, Helvetica, sans-serif;
  	background-color: transparent;
  	text-decoration: none;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
}

.title a:link {
  color: blue;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
} 

.title a:visited {
  color: blue;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
} 

.title a:hover {
	color: red;
    background-color: transparent;
}

.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
.seen {
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

.pin {
	width:45px;
	height:40px;
}
.post {
    border: 1px solid;
	background-color:#FEFBBD;
    border-radius: 10px;
} 

#divInfo {
    background-color: #99CCFF;
	margin-left: auto;
    margin-right: auto;
    top:150px;
	width: 400px;
    border-bottom:5px solid #3399FF;
}

#divProject {
    background-color: #99CCFF;
	margin-left: auto;
    margin-right: auto;
    top:150px;
	width: 400px;
    border-bottom:5px solid #3399FF;
}

#divMember {
    background-color: #99CCFF;
	margin-left: auto;
    margin-right: auto;
    top:150px;
	width: 400px;
    border-bottom:5px solid #3399FF;
}
